@{
    ViewData["Title"] = "Create/Edit Expense";
}

@model Expense

<div class="text-center">
    <h1 class="display-4">@(Model?.Id > 0 ? "Edit" : "Create") Expense</h1>
    <br>
    <hr>
    <form asp-action="CreateEditExpenseForm" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Value" class="form-label">Value:</label>
            <input asp-for="Value" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="form-label">Description:</label>
            <input asp-for="Description" class="form-control" />
        </div>
        <!-- add comment explaining -->
        <div class="form-group">
            <label asp-for="Date" class="form-label">Date:</label>
            <input asp-for="Date" class="form-control" type="date" />
            <span asp-asp-validation-for="Date" class="text-danger"></span>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">
            @(Model?.Id > 0 ? "Update" : "Create") Expense
        </button>
        <a asp-action="Expenses" class="btn btn-secondary">Cancel</a>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}